* {
	margin: 0;
	padding: 0;
	font-family: 'Heveltica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 100%;
	font-weight: 300;
	box-sizing: border-box;
	outline: none;
}

@font-face{
	font-family: 'Heveltica Neue';
	src: url('../fonts/helvetica-neue.ttf');
}

button, a {
	transition: all 0.2s;
}

html{
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
